/* 首页通用样式 */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* 首页通用样式结束 */

/* 页头开始 */
body {
    margin: 0;
    background: white;
}
.header{
    height: 90px;

    background-color: rgba(8,8,8,0.4);

}

.header .container {
    width: 1000px;
    margin: 0 auto;
    height: 90px;
}

.header .logo a {
    width: 50px;
    height: 50px;
    display: block;
    background: url("../photos/logos/bold.svg") no-repeat;

    margin-left: 30px;
}
.header .logo a span {
    display:none;
}

.header nav {
    width: 800px;
    height: 100%;


    float: right;
}

.header nav a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;

    height: 65px;
    padding-top: 25px;

    text-align: center;

    color: rgb(195,195,195);
    
    display: block;
    float: right;
    margin-right: 13px;
}
.header nav a:hover {
    color: white;
    background-color: rgba(8,8,8,0.6);
}
/* 第一块 */
#main{

}
#bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/* 备用色彩
logo蓝色 rgb(9,69,195)
rgb(51,52,49)


    display: block;
    float: left;

    position: relative;
    top:-25px;

    min-width: 100%;
    min-height: 100%;
*/

audio {
    margin-top: 20px;
    display: block;
    float: left;
}