/* 首页通用样式 */
.container {
    width: 1000px;
    margin: 0 auto;
    height: 90px;

    background:;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* 首页通用样式结束 */

/* 页头开始 */
body {
    margin: 0;
    background: rgb(58, 58, 58);
}
.header{
    height: 90px;

    background-color: rgba(8,8,8,0.7);
    margin: 0;
}

.header .container {

    margin-top: 30px;
}

.header .logo a {
    width: 50px;
    height: 50px;
    display: block;
    background: url("../photos/logos/bold.svg") no-repeat;
}
.header .logo a span {
    display:none;
}

.header nav {
    width: 800px;
    height: 100%;
    margin-top: 25px;

    float: right;
}

.header nav a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;

    color: rgb(195,195,195);
    display: block;
    float: right;
    margin-right: 20px;
}
.header nav a:hover {
    color: white;
    background-color:;
}
/* 第一块 */
#main{
    margin: 0 auto;
}
#main video {
    min-width:100%;

}

/* 备用色彩
logo蓝色 rgb(9,69,195)
rgb(51,52,49)

*/

audio {
    margin-top: 20px;
    display: block;
    float: left;
}